{% extends 'base.html.twig' %}

{% block body %}
    <h1>
        Blog ! <a href="{{ path("blog_create") }}">Publier un nouvel article</a>
    </h1>
    {% for post in posts %}
        <h2>{{ post.title }}</h2>
        <small>{{ post.publishedAt|date("d/m/Y") }}</small>
        <img src="{{ asset(post.image) }}" alt="{{ post.title }}">
        <small>{{ post.comments|length }} commentaire(s)</small>
        <a href="{{ path("blog_read", { id: post.id }) }}">Lire la suite</a> | <a href="{{ path("blog_update", { id: post.id }) }}">Modifier</a>
    {% endfor %}
    <ul>
        {% if page > 1 %}
            <li>
                <a href="{{ path("index", { page: 1 }) }}">Première page</a>
            </li>
        {% endif %}
        {% if page > 1 %}
            <li>
                <a href="{{ path("index", { page: page - 1 }) }}">Précédent</a>
            </li>
        {% endif %}
        {% for p in range %}
            <li>
                <a href="{{ path("index", { page: p }) }}">{{ p }}</a>
            </li>
        {% endfor %}
        {% if page < pages %}
            <li>
                <a href="{{ path("index", { page: page + 1 }) }}">Suivant</a>
            </li>
        {% endif %}
        {% if page < pages %}
            <li>
                <a href="{{ path("index", { page: pages }) }}">Dernière page</a>
            </li>
        {% endif %}
    </ul>
{% endblock %}
