{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-12 mb-4">
            <h1>Blog</h1>
        </div>
        <div class="col-12">
            <form action="{{ representation|path(1) }}">
                <div class="row align-items-end">
                    <div class="col">
                        <div class="form-group">
                            <label>Trier par</label>
                            <select name="field" class="form-control">
                                <option {{ representation.field == "p.publishedAt" ? "selected" : "" }} value="p.publishedAt">Date de publication</option>
                                <option {{ representation.field == "p.title" ? "selected" : "" }} value="p.title">Titre</option>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>Sens de tri</label>
                            <select name="order" class="form-control">
                                <option {{ representation.order == "asc" ? "selected" : "" }} value="asc">Croissant</option>
                                <option {{ representation.order == "desc" ? "selected" : "" }} value="desc">Décroissant</option>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>Nb. article/page</label>
                            <select name="limit" class="form-control">
                                <option {{ representation.limit == 10 ? "selected" : "" }} value="10">10</option>
                                <option {{ representation.limit == 25 ? "selected" : "" }} value="25">25</option>
                                <option {{ representation.limit == 50 ? "selected" : "" }} value="50">50</option>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <button class="btn btn-primary mb-3">Trier</button>
                    </div>
                </div>

            </form>
        </div>
        {% for post in representation %}
            <div class="col-4 mb-3">
                <div class="card">
                    <div class="card-header">{{ post.title }}</div>
                    <img class="card-img-top" src="{{ asset(post.image) }}" alt="{{ post.title }}">
                    <div class="card-body d-flex justify-content-between flex-column">
                        <small class="text-muted">Publié le {{ post.publishedAt|date("d/m/Y") }} par {{ post.pseudo }}</small>
                        <small class="text-muted">{{ post.countComments }} commentaire(s)</small>
                    </div>
                    <div class="card-footer d-flex justify-content-between">
                        <a href="{{ path("blog_read", { id: post.id }) }}">Lire la suite</a>
                        {% if is_granted('edit', post) %}
                            <a href="{{ path("blog_update", { id: post.id }) }}">Modifier</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}

        <div class="col-12 mt-4 d-flex justify-content-between">
            <span>Affiche les articles de {{ representation.firstResult }} à {{ representation.lastResult }} sur {{ representation.count }}</span>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {% if representation.page > 1 %}
                        <li class="page-item"><a class="page-link" href="{{ representation|path(1) }}">Première page</a></li>
                    {% endif %}
                    {% if representation.page > 1 %}
                        <li class="page-item"><a class="page-link" href="{{ representation|path(representation.page - 1) }}">Précédent</a></li>
                    {% endif %}
                    {% for p in representation.range %}
                        <li class="page-item {{ representation.page == p  ? "active" : "" }}"><a class="page-link" href="{{ representation|path(p) }}">{{ p }}</a></li>
                    {% endfor %}
                    {% if representation.page < representation.pages %}
                        <li class="page-item"><a class="page-link" href="{{ representation|path(representation.page + 1) }}">Suivant</a></li>
                    {% endif %}
                    {% if representation.page < representation.pages %}
                        <li class="page-item"><a class="page-link" href="{{ representation|path(representation.pages) }}">Dernière page</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}
